* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

 /* border-bottom: 1px solid rgba(0,0,0,0.05);*/

  z-index: 1000;
  transition: all 0.3s ease;
}
.logo h2 {
  color: #111827;
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #111827;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2563eb;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #2563eb;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 11px 24px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(37, 99, 235, 0.35);
}

@media (max-width: 768px) {
  .navbar {
    padding: 18px 5%;
    flex-direction: column;
    gap: 18px;
  }

  .nav-links {
    gap: 20px;
  }
}
