* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: #111827;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-links a:hover {
  color: #38bdf8;
  background-color: rgba(255, 255, 255, 0.08);
}
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .logo {
    font-size: 24px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

}
