* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: #111827;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #38bdf8;
}
