fastapi
uvicorn[standard]
gunicorn
sqlalchemy
pydantic
python-multipart
slowapi
python-dotenv
requests
pymupdf
websockets
supabase
pgvector
google-generativeai
langchain-text-splitters
psycopg2-binary
